#chat-screen {
  height: 500vh;
  background-color: #abc1d1;
}

#chat-screen .status-bar {
  background-color: #abc1d1;
}

#chat-screen .alt-header {
  position: fixed;
  box-sizing: border-box;
  background-color: #abc1d1;
  z-index: 10;
  top: 0px;
}

@keyframes fadein {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: none;
    opacity: 1;
  }
}

@keyframes fadeside {
  from {
    transform: translateX(-10px);
    opacity: 0;
  }
  to {
    transform: none;
    opacity: 1;
  }
}

@keyframes fadeside-reverse {
  from {
    transform: translateX(10px);
    opacity: 0;
  }
  to {
    transform: none;
    opacity: 1;
  }
}

.main-chat {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.message-row {
  animation: fadein 0.5s linear;
}

.chat-timestamp {
  margin-top: 80px;
  padding: 10px 15px;
  border-radius: 25px;
  background-color: #92a4b2;
  color: white;
  font-size: 12px;
  margin-bottom: 20px;
}

.message-row {
  display: flex;
  width: 100%;
  margin-bottom: 20px;
}

.message-row img {
  width: 50px;
  height: 50px;
  border-radius: 18px;
  margin-right: 10px;
}

.message__author {
  margin-bottom: 10px;
  display: block;
}

.message__info {
  display: flex;
  align-items: flex-end;
  opacity: 0;
  animation: fadeside 0.5s linear forwards;
  animation-delay: 0.5s;
}
.message__bubble {
  background-color: white;
  padding: 10px;
  font-size: 18px;
  border-radius: 15px;
  border-top-left-radius: 0;
}
.message__time {
  margin: 0 5px;
}
.message__time,
.message__author {
  color: var(--text-gray);
  font-size: 16px;
}

.message-row--own {
  justify-content: flex-end;
}

.message-row--own .message__bubble {
  background-color: var(--yellow);
  border-top-right-radius: 0;
  border-top-left-radius: 15px;
}

.message-row--own .message__info {
  opacity: 0;
  flex-direction: row-reverse;
  animation: fadeside-reverse 0.5s linear forwards;
  animation-delay: 0.8s;
}

.reply {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3px 15px;
  transition: all 0.3s ease-in-out;
}

.reply__column:first-child {
  width: 10%;
}

.reply__column:last-child {
  position: relative;
  width: 90%;
}

.reply input {
  height: 46px;
  width: 100%;
  border: var(--main-border);
  border-radius: 23px;
  font-size: 18px;
  padding-left: 18px;
  transition: all 0.3s ease-in-out;
}
.reply input::placeholder {
  color: var(--text-gray);
}

.reply__column:last-child button {
  position: absolute;
  right: 2px;
  top: 2px;
  font-size: 20px;
  background-color: var(--yellow);
  border: none;
  width: 44px;
  height: 44px;
  border-radius: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.reply__column:last-child > i {
  position: absolute;
  right: 60px;
  top: 10px;
  font-size: 30px;
  color: var(--text-gray);
}

.reply__column:last-child button:focus,
.reply__column:last-child button:active {
  outline: none;
}

.reply__column:first-child i {
  font-size: 30px;
  color: var(--text-gray);
}

.reply .fa-smile,
.reply__column:first-child,
.reply button {
  transition: opacity 0.3s ease-in-out;
}
.reply:focus-within .fa-smile,
.reply:focus-within .reply__column:first-child,
.reply:focus-within button {
  opacity: 0;
}

.reply:focus-within input {
  width: 110%;
  transform: translateX(-10%) translateY(-120px);
}

.reply:focus-within {
  transform: translateY(120px);
}
