#friends-display-link {
  text-align: center;
  display: block;
  background-color: #fafafa;
  padding: 10px 0;
  font-size: 14px;
}

#friends-display-link i {
  color: rgba(0, 0, 0, 0.15);
}
.fa-chevron-right {
  margin-left: 5px;
}

.friends-screen {
  padding: 0px var(--horizontal-space);
}

.friends-screen .user-component__column:last-child {
  color: var(--text-gray);
}

.friends-screen__channel {
  margin-top: 15px;
  border-top: var(--main-border);
  padding-top: 15px;
}

.friends-screen__channel-header {
  display: flex;
  justify-content: space-between;
  color: var(--text-gray);
  font-size: 14px;
}

@keyframes hidesplashscreen {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}

#splash-screen {
  z-index: 12;
  background-color: var(--yellow);
  position: absolute;
  top: 0;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 60px;
  color: #3c1d1e;
  animation: hidesplashscreen 0.5s ease-in-out forwards;
  animation-delay: 2s;
}
