.settings-list {
  border-bottom: var(--main-border);
  padding: 20px 0;
}

.settings-setting {
  padding: 20px 0;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.settings-setting i {
  margin: 0 10px;
}

.settings-setting__column {
  display: flex;
}

.settings-setting__column:first-child {
  margin-right: auto;
}

.settings-setting__column:last-child {
  color: var(--text-gray);
}
