.badge {
  display: flex;
  background-color: tomato;
  width: 16px;
  height: 16px;
  border-radius: 8px;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 400;
  font-size: 6px;
  margin-left: 15px;
}
