.icon-row {
  display: flex;
  justify-content: center;
  padding: 30px 0;
}

.icon-row__icon {
  position: relative;
  width: 175px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.icon-row__icon i {
  font-size: 45px;
}

.icon-row__icon p {
  display: flex;
  align-items: center;
  height: 80px;
  margin-top: 20px;
}
.icon-row__icon span {
  font-size: 26px;
  text-align: center;
  line-height: 34px;
}
